.container {
    background-color: rgba(255, 255, 255, 0.239); 
    width: 60%;
    margin:auto;
    min-width: min-content;
    border-radius: 5px;
    color:white;
    /* bottom: 0; */
}
.container_p {
    padding:0 10%;
    text-wrap: nowrap;
}