* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: black; */
  
}
html{
  background-image: url('../image/dark_abstract_colors.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


